html {
  height: 100%;
  width: 100%;
}

body {
  background: #e5e5e5;
  width: 375px;
}

.head {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  justify-content: flex-start;
  background-image: url(images/base-2.png);
}

.background-image-1 {
  background-image: url("icons/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  width: 375px;
  height: 587.15px;
  top: 104px;
  position: absolute;
}

.status-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 44px;
}

.time-text {
  width: 54px;
  height: 21px;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #000;
  margin-left: -10px;
}

.group-1 {
  width: 90px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.inside {
  padding-left: 5px;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  color: #6070ff;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 114px;
  width: 375px;
  height: 604px;
  list-style-type: none;
}

.primary-text {
  display: flex;
  align-items: center;
  color: #172b4d;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 300px;
  height: 150px;
  top: 114px;
  padding-left: 20px;
  margin-top: 100px;
}

.primary-description {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 20px;
}

.link {
  position: relative;
  text-decoration: none;
  height: 24px;
}

.connect {
  position: static;
  width: 130px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
}

.connect:hover {
  opacity: 0.7;
}

.social-media {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin-top: -9px;
  margin-left: -30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
}

li a:hover {
  opacity: 0.7;
}

.works {
  font-family: poppins, sans-serif;
  display: grid;
  padding: 26px 24px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 610px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 88px;
}

.card-structure {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-displayer {
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  flex: none;
}

.project-title {
  width: 295px;
  height: 25px;
  font-weight: 500;
  font-size: 40px;
  color: #172b4d;
  padding-bottom: 20px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 236px;
  height: 32px;
  align-items: center;
  padding: 1px;
}

.client {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
}

.role {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  width: 295px;
  height: 70px;
}

.tags2 {
  font-family: Poppins, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 203px;
  height: 24px;
  padding: 1px;
}

.lang-block {
  list-style-type: none;
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.lang-text {
  list-style-type: none;
  font-family: poppins, sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.card-button {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  background-color: #fff;
  width: 124px;
}

.card-button:hover {
  color: #7a869a;
  cursor: pointer;
}

.card-button:active {
  background-color: goldenrod;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  margin-top: 60px;
  background-image: url(images/base.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 1125.15px;
}

.about-myself {
  width: 295px;
  height: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding-top: 114px;
}

.myself {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  max-width: 300px;
  padding-top: 30px;
  width: 327px;
  height: 144px;
}

.met {
  color: #7f8cff;
}

.card-button-1 {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  background-color: #fff;
  width: 163px;
}

.card-button-1:hover {
  color: #7a869a;
  cursor: pointer;
}

.card-button-1:active {
  background-color: goldenrod;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
}

.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 327px;
  height: 320.15px;
  margin-top: 30px;
}

.frame-7 {
  display: flex;
  flex-direction: column;
  position: static;
  width: 327px;
  height: 72px;
  flex: none;
  align-items: flex-start;
}

.languages {
  position: absolute;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 10px;
}

.normal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-left: 280px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 327px;
  height: 248.15px;
  top: 72px;
}

.frame-9 {
  display: flex;
  flex-direction: row;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-top: 12px;
}

.frame-8 {
  position: static;
  width: 303px;
  height: 66.72px;
  align-items: center;
  margin-top: 25px;
}
